{% extends "base.html" %}
{% load cms_tags  %}

{% block main-col %}

<table id='exec-table'>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Station Manager: Francesca Chen
  </td>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Production Manager: Simon Hatton
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Chief Engineer: Cameron Wauchope </td>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Output Manager: Aranya Rauff-Nisthar
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Secretary: Amar Dhokia
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Press & Publicity: Matt Cullam
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Treasurer: Richard Brooker
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Webmaster: Joshua McNamee
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Head of WTV Film: Duncan Gist
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Head of WTV Film: Ben Ransley
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Head of WTV Entertainment: George Hayward
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Head of WTV News & Documentary: Sin Popena
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Head of WTV Arts & Culture: Ollie Charles
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Head of WTV Arts & Culture: Jordan Bishop
  </td>
</tr>

<tr>
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>  <td class='exec-text'>
    Head of WTV Events: Claire York
  <td class='exec-pic'><img src='/media/missing.jpg' /></td>
  <td class='exec-text'>
    Head of WTV Events: Luke Woellhaf
  </td>
</tr>










</table>

{% endblock %}
