{% extends 'base.html' %}
{% load sekizai_tags %}
    {% block title %}Warwick SU General Meeting Footage{% endblock %}



    {% block main-col %}
    
    <div style='margin: 0 auto; width:880px;'>
        <div class='video' style='width: 880px;'>
            <div class='video-youtube' style='width:720px;height:576px;'><div id="container">Loading the player ...</div></div>
    <script type="text/javascript" src="/media/jwplayer/jwplayer.js"></script> 
    <script type="text/javascript"> jwplayer("container").setup({
        flashplayer: "/media/jwplayer/player.swf", file: "/media/meeting2.flv", height: 576, width: 720, provider: 'http', stretching: 'exactfit'
        });
    </script>
    
    <h3 class='entry-date'>UGM</h3>
    <div class='video-info'><p>
        On the 29th November 2011 Warwick SU held a general meeting, at which these motions were discussed:</p>
        <p><ul>
            <li>Should this union boycott the products of and sponsorship funding from Bacardi?</li>
            <li>BAE and the Students' Union</li>
            <li>Warwick SU Against Tuition Fees</li>
            <li>Strikes on 30th November</li>
            <li>No Platform</li>
            <li>Enhancing Educational Quality</li>
            <li>Democratic Union of Students</li>
            <li>ncreasing Freedom in Union Elections</li>
        </ul></p>
    </div>

        <div style='clear:both'></div></div></div>
    {% endblock %}
